.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    grid-template-rows: auto auto;
    gap: 60px;
    padding: 50px;
    background-color: #F6F6F6;
    margin: 0px 70px 50px;
    border-radius: 20px;

  }
  
  .card {
    background: #ff5a5f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 320px;
    width: 320px;
    
  }
  
  .card h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  